.spins-countdown {
  font-size: 15px;
  line-height: 18px;
  color: rgb(255, 255, 255, 70%);
  margin-top: 8px;
  font-weight: 500;
}

.collect-free-spins-text {
  font-size: 15px;
  line-height: 18px;
  color: rgb(255, 255, 255, 70%);
  text-decoration: underline;
  margin-top: 8px;
}
