.info-label {
  display: inline-block;
  padding: 4px 9px;
  background-color: #ffff;
  border-radius: 8px;
  border: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: black;
  margin-bottom: 50px;
}
