.how-to-play {
  width: 327px;
  height: 589px;
  display: flex;
  flex-direction: column;
  background: radial-gradient(circle, #0f2749 81%, #0f233f 100%);
  border-radius: 20px;
  padding: 28px;
  color: #ffff;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &__title {
    font-family: "InterTight", sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 17px 0 28px 0;
    font-size: 32px;
  }

  &__content {
    font-family: "InterTight", sans-serif;
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 20px;

    &__line {
      display: flex;
      gap: 10px;
      font-size: 17px;

      &__number {
        font-weight: bold;
      }
    }
  }

  &__chest {
    position: absolute;
    bottom: -1%;
    left: 0;
  }

  &__cross {
    cursor: pointer;
  }
}
