.action-button {
  width: auto;
  height: auto;
  padding: 17px 35px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(to bottom, #21cc51 0%, #166e55 100%);
  font-size: 24px;
  color: #ffff;
  font-weight: bold;
  line-height: 18px;
}
