@font-face {
  font-family: "TT Norms Pro";
  src: url("../src/assets/fonts/TT Norms Pro Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms Pro";
  src: url("../src/assets/fonts/TT Norms Pro Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

:root {
  font-family: "TT Norms Pro", Inter, system-ui, Avenir, Helvetica, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0e1431;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
